/* App.css */
.fullscreen-qr-scanner {
  height: 100vh;
  background: var(--Gray-900, #181c23);
}

.fullscreen-qr-scanner video {
  object-fit: cover;
}

.fullscreen-qr-scanner__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fullscreen-qr-scanner__overlay__inner {
  width: 345px;
  height: 345px;
  border-radius: 24px;
  border: 4px solid var(--Green-600, #28cb87);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
}

.test {
}

.clear {
  position: relative;
  z-index: 1;
}

button {
  position: relative;
  z-index: 1;
  color: white;
}
