/* 기존 스타일 */
.sprite_carousel {
  background-image: url("./CarouselSprite.png");
  background-repeat: no-repeat;
}
.carousel {
  width: 125.76px;
  height: 217.6px;
  display: inline-block;
  transition:
    transform 0.5s ease,
    scale 0.5s ease;
}

.first {
  background-position: 0 0;
}

.second {
  background-position: -137.76px 0;
}

.third {
  background-position: -275.52px 0;
}

.fourth {
  background-position: -413.28px 0;
}

.fifth {
  background-position: -551.04px 0;
}

.sixth {
  background-position: -688.8px 0;
}

.seventh {
  background-position: -826.56px 0;
}

/* 컨테이너 설정 */
.carousel-container {
  position: relative;
  display: flex;
  height: 100%;
  width: calc(100% - 2px);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* 트랙 설정 */
.carousel-track {
  display: flex;
  gap: 32px;
  transition: transform 0.5s ease-in-out;
}

.carousel.active {
  transform: scale(1.36);
  z-index: 1;
}

.carousel.prev,
.carousel.next {
  transform: scale(1);
}
