@tailwind base;

@layer base {
  :root {
    max-width: 430px;
    margin: 0 auto;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 

디자인시스템: 타이포그라피 
tp 접두어에 폰트 크기와 폰트 두께를 소문자로 전환하여 표기합니다.
tp-[폰트 크키.lowercase()]-[폰트 두께.lowercase()]

ex) Display1 + Extralight -> tp-display1-extralight

*/

/* display 1,2 */
.tp-display1-extralight {
  @apply text-display-1 font-extralight tracking-[.8px];
}
.tp-display1-regular {
  @apply text-display-1 font-regular tracking-[.8px];
}
.tp-display1-semibold {
  @apply text-display-1 font-semibold tracking-[.8px];
}
.tp-display2-extralight {
  @apply text-display-2 font-extralight tracking-[.72px];
}
.tp-display2-regular {
  @apply text-display-2 font-regular tracking-[.72px];
}
.tp-display2-semibold {
  @apply text-display-2 font-semibold tracking-[.72px];
}

/* header 1,2 */
.tp-header1-extralight {
  @apply text-header-1 font-extralight tracking-[.56px];
}
.tp-header1-regular {
  @apply text-header-1 font-regular tracking-[.56px];
}
.tp-header1-semibold {
  @apply text-header-1 font-semibold tracking-[.56px];
}

.tp-header2-extralight {
  @apply text-header-2 font-extralight tracking-[.48px];
}
.tp-header2-regular {
  @apply text-header-2 font-regular tracking-[.48px];
}
.tp-header2-semibold {
  @apply text-header-2 font-semibold tracking-[.48px];
}

/* title 1,2 */
.tp-title1-extralight {
  @apply text-title-1 font-extralight tracking-[.4px];
}
.tp-title1-regular {
  @apply text-title-1 font-regular tracking-[.4px];
}
.tp-title1-semibold {
  @apply text-title-1 font-semibold tracking-[.4px];
}

.tp-title2-extralight {
  @apply text-title-2 font-extralight tracking-[.36px];
}
.tp-title2-regular {
  @apply text-title-2 font-regular tracking-[.36px];
}
.tp-title2-semibold {
  @apply text-title-2 font-semibold tracking-[.36px];
}

/* body 1,2 */
.tp-body1-extralight {
  @apply text-body-1 font-extralight tracking-[.32px];
}
.tp-body1-regular {
  @apply text-body-1 font-regular tracking-[.32px];
}
.tp-body1-semibold {
  @apply text-body-1 font-semibold tracking-[.32px];
}

.tp-body2-extralight {
  @apply text-body-2 font-extralight tracking-[.28px];
}
.tp-body2-regular {
  @apply text-body-2 font-regular tracking-[.28px];
}
.tp-body2-semibold {
  @apply text-body-2 font-semibold tracking-[.28px];
}

/* caption 1,2 */
.tp-caption1-extralight {
  @apply text-caption-1 font-extralight tracking-[.24px];
}
.tp-caption1-regular {
  @apply text-caption-1 font-regular tracking-[.24px];
}
.tp-caption1-semibold {
  @apply text-caption-1 font-semibold tracking-[.24px];
}

.tp-caption2-extralight {
  @apply text-caption-2 font-extralight tracking-[.24px];
}
.tp-caption2-regular {
  @apply text-caption-2 font-regular tracking-[.24px];
}
.tp-caption2-semibold {
  @apply text-caption-2 font-semibold tracking-[.24px];
}
